<h1>Virutal Scroll</h1>
<hr>
<!--

   We use Virtual scroll to show many dinamic elements  
   and angular will render only the elements that are in the view point
   and the rest are load dinamically when the user scrolls

-->
<div class="row">
  <div class="col text-center">
    <button class="btn btn-primary" (click)="irAlfinal()">
      Ir al Final
    </button>
  </div>
  <div class="col text-center">
    <button class="btn btn-secondary" (click)="irAlaMitad()">
      Ir al Mitad
    </button>
  </div>

  <div class="col text-center">
    <button class="btn btn-primary animated tada slow" (click)="irAlInicio()">
      Ir al Inicio
    </button>
  </div>


</div>

<hr>

<cdk-virtual-scroll-viewport itemSize="50" class="list-container list-group animated tada slow">

  <div class="list-group-item animated tada slow"
    *cdkVirtualFor="let persona of personas; let i = index; let conteo = count">
    Item {{ i }} / {{ conteo }}

  </div>

</cdk-virtual-scroll-viewport>
